# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
nlqservice/

#Dockerfile
Dockerfile

# IDE
.vscode/
.idea/

# Snowflake authentication keys
secrets/
snowflake_cert.cer
snowflake_public_key.txt